*{
    padding: 10px;
    margin: 10px 10px;
    color: white;
}
.box1{
    background: #90caf9 ;
    border: none;
}
.box2{
    background: #90caf9 ;
    border: hidden;
}
.box3{
    background: #90caf9 ;
    border: solid #0097a7;
}
.box4{
    background: #90caf9 ;
    border: double #0097a7;
}
.box4{
    background: #90caf9 ;
    border: 4mm ridge #0097a7;
}
.box5{
    background: #90caf9 ;
    border: solid #0097a7;
}
.box6{
    background: #90caf9 ;
    border: solid #0097a7;
}
.box7{
    background: #90caf9 ;
    border: solid #0097a7;
}
.box8{
    background: #90caf9 ;
    border: solid #0097a7;
}
.box9{
    background: #90caf9 ;
    border: solid #0097a7;
}
.box10{
    background: #90caf9 ;
    border: solid #0097a7;
}