*{
    padding: 10px;
    margin: 10px 10px;
    color: white;
}
.box1{
    background: #90caf9 ;
    border: none;
}
.box2{
    background: #90caf9 ;
    border: hidden;
}
.box3{
    background: #90caf9 ;
    border: solid #795548;
}
.box4{
    background: #90caf9 ;
    border: double #795548;
}
.box5{
    background: #90caf9 ;
    border: dotted #795548;
}
.box6{
    background: #90caf9 ;
    border: dashed #795548;
}
.box7{
    background: #90caf9 ;
    border: groove #795548;
}
.box8{
    background: #90caf9 ;
    border: ridge #795548;
}
.box9{
    background: #90caf9 ;
    border: inset #795548;
}
.box10{
    background: #90caf9 ;
    border: outset #795548;
}