* {
    padding: 0;
    margin: 0;
}
/* ex 01 */
.ex--01--menu {
    background: #311b92;
    margin: auto;
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.ex--01--menu li {
    /* background: coral; */
    list-style: none;
    margin-right: 15px;
    /* border-radius: 10px; */
}

.ex--01--menu li a:hover {
    background: #f57c00;
    border-radius: 20px;
    color: black;
    transition: background 0.7s ease;
    /*transition: 첫번째 속성값으로는 적용 할 속성의 이름을 작성 
    두번째 속성값으로는 몇초의 시간에 걸칠지 작성 
    세번째 속성값으로는 어떻게 나타나게 할 것인지 작성*/
}
.ex--01--menu li a {
    text-decoration: none;
    color: #eee;
    padding: 10px;
    position: relative;
}

/* ex 02 */
.ex--02--menu {
    background: #311b92;
    margin: auto;
    width: 70%;
    height: 50px;
    /*처음 초기 height 값을 정해두고 
    hover 의 height 값으로 커지게 만듬*/
    display: flex;
    justify-content: end;
    align-items: center;
}
.ex--02--menu .menu02 {
    list-style: none;
    margin-right: 15px;
    position: relative;
    padding: 10px;
}
/*hover:before 이전에 before 정리해두기*/
.ex--02--menu .menu02:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    opacity: 0;
    background: coral;
    border-radius: 20px;
    transition: all 0.7s ease;
}
.ex--02--menu .menu02:hover:before {
    width: 100%;
    height: 150px;
    opacity: 1;
    color: black;
}
.ex--02--menu .menu02:hover a {
    color: #000;
}
.ex--02--menu .menu02 a {
    text-decoration: none;
    color: #eee;
    position: relative;
}
.ex--03--menu li {
    list-style: none;
    /* display: none;  */
}
.ex--03--menu li {
    display: none;
}
.ex--02--menu;
