* {
    padding: 0;
    margin: 0;
}
.header--wrap {
    background: #ffccbc;
    width: 80%;
    max-width: 1200px;
    margin: auto;
    display: block;
    justify-content: space-between;
}
.menu--wrap ul {
    display: flex;
    justify-content: center;
}
.menu--wrap ul li {
    list-style: none;
    margin: 5px 0;
    padding: 10px 10px;
}
.menu--wrap ul li a {
    text-decoration: none;
    color: white;
}
.menu--wrap ul li:hover {
    background: #ffab91;
    border-radius: 30%;
}
