* {
    padding: 0;
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-between;
}

.menu--wrap li {
    list-style: none;
}
.menu--wrap ul {
    display: flex;
}
.menu--wrap ul li a {
    text-decoration: none;
    color: black;
}
