* {
    padding: 0;
    margin: 0;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg #ff0057, #2196f3);
}
