body {
    background: coral;
}
.total {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
}
.total span {
    display: block;
    width: 100%;
    height: 30px;
    background: #fff9c4;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
}
.total span::before,
.total span::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    background: #fff9c4;
}
.total span::before {
    top: -60px;
    transition: top 0.3s ease;
}
.total span::after {
    top: 60px;
    transition: top 0.3s ease;
}
.total:hover span {
    background: transparent;
}
.total:hover span::before {
    top: 0px;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
}
.total:hover span::after {
    top: 0px;
    transform: rotate(-45deg);
    transition: transform 0.3s ease-in-out;
}
