* {
    padding: 0;
    margin: 0;
}
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #eee;
}
.wrap .btn {
    position: relative;
    width: 200px;
    height: 60px;
    background: rgba(224, 143, 177, 0.5);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* color: rgba(251, 233, 231, 0.5); */
    color: white;
    letter-spacing: 2px;
    /* border-top: 3px solid rgba(255, 255, 255, 0.3); */
    /* border-left: 3px solid rgba(255, 255, 255, 0.3); */
    box-shadow: inset 2px 2px rgba(255, 255, 255, 0.3);
    padding-left: 40px;
    transition: 0.5s;
}
.btn:hover {
    padding-left: 0;
    padding-right: 40px;
    /* color: rgba(255, 255, 255, 1); */
    color: rgba(251, 233, 231, 0.5);
}
.btn span {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    background: #fce4ec;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1a191d;
    font-size: 1.5em;
    /* border: 2px solid rgba(255, 255, 255, 0.1); */
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
}
.btn:hover span {
    left: calc(100% - 60px);
}
