* {
    padding: 0;
    margin: 0;
}
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #28272a;
}
.wrap .btn {
    position: relative;
    width: 200px;
    height: 60px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 2px;
    border-top: 3px solid rgba(255, 255, 255, 0.35);
    border-left: 3px solid rgba(255, 255, 255, 0.35);
    padding-left: 40px;
    transition: 0.5s;
}
.btn:hover {
    padding-left: 0;
    padding-right: 40px;
    color: rgba(255, 255, 255, 1);
}
.btn span {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    background: #04fe4d;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1a191d;
    font-size: 1.5em;
}
.btn:hover span {
    left: calc(100% - 55px);
}
