* {
    color: coral;
}
.bg-repeat {
    background: url(/img/moon2.png) repeat;
    /*이미지가 배경 영역을 채울 때 까지 반복
    마지막 반복 이미지가 넘칠 경우 잘라냄*/
    width: 100%;
    height: 800px;
}
.bg-repeat-x {
    background: url(/img/moon1.jpg) repeat-x;
    /*x축의 방향으로만 반복됨 
    y축 (세로) 방향으로는 반복되지 않음*/
    width: 100%;
    height: 700px;
}
.bg-space {
    background: url(/img/moon2.png) repeat space;
    /* 요소가 잘리지 않을 만큼 이미지를 반복 
    제일 처음과 마지막 반복 이미지는 요소의 양 끝 고정 
    사이에 남은 여백을 고르게 분배 */
    width: 100%;
    height: 800px;
}
.bg-no-repeat {
    background: url(/img/moon1.jpg) no-repeat;
    /*이미지를 반복하지 않음*/
    width: 100%;
    height: 700px;
}
.bg-round {
    background: url(/img/moon2.png) round;
    /*가용 영역이 늘어나면 반복 이미지도 늘어나 여백을 남기지 않음*/
    width: 100%;
    height: 700px;
}
